.margin-top {
    margin-top: 20px;
}

@font-face {
    font-family: fontCR;
    src: url($font-path+'/Nickname.otf');
}
*{
	font-family: fontCR;
}
html{
	height: 100%;
	background-color: #CCECEB
}
body {
    height: 100%;
    background-color: #CCECEB !important;
}
ion-content {
    height: 100%;
    background-color: #CCECEB !important;
}

#rhesus{
    font-size: x-large;
}

.play-button{
	background-color: #00A1AD;
	height: 60px;
	border-radius: 10px;
	margin: 6px -10px;
	-webkit-box-shadow: 0px 5px 15px -1px rgba(3,111,114,1);
	-moz-box-shadow: 0px 15px 0px -1px rgba(3,111,114,1);
	box-shadow: 0px 15px 0px -1px rgba(3,111,114,1);
	color: #fff;
	font-size: 40px;
	vertical-align: middle;
	display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: all .1s;
}
.play-button:active{
	box-shadow:0px 0px 0px -1px rgba(101,127,5,1);
    margin-top:20px;
    margin-bottom:-8px;
}
.play-button p{
	margin-bottom: 0px;
}

.title-3{
	font-size: 25px;
	vertical-align: middle;
	display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color:#00A1AD;
}
.title-4{
	font-size: 15px;
	vertical-align: middle;
	display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color:#00A1AD !important;
    text-align: center !important;
}
.margin-bot{
	margin-bottom: 70px !important;
}
.margin-topp{
	margin-top: 100px !important;
}
.dropdown-toggle{
	background-color: #fff !important;
	color: #00A1AD !important;
}
.happy-man{
	background: url($image-path+'/sprite1.svg') no-repeat -34px -22px;
	width: 183px;
	height: 130px;
	position: fixed;
	bottom: 0px;
}