
.scroll-content {
height: 100%
}

#map {
width: 100%;
height: 100%;
}

.parent-jysuis {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jysuis {
    width: 300px;
}

.map {
    background: url($image-path+'/carte.png') no-repeat;
	width: 100%;
	height: 100%;
    background-size: cover;
}